@font-face {
  font-family: "roboto-slab"; /* <== On donne un nom unique */
  src: url("./assets/font/RobotoSlab-VariableFont_wght.ttf") format("truetype"); /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
  font-weight: normal; /* <== On définit le poids de la police */
  font-style: normal; /* <== On définit le style de la police */
  font-display: swap; /* <== On spécifie le comportement d'affichage de la police. Ca indique que le navigateur doit afficher une police de secours immédiatement, puis charger la police personnalisée en arrière-plan. */
}
